<div>
  <img class="-" src="https://images7.alphacoders.com/345/345366.jpg" width="1360"  alt="imagen-bicicleta">
</div>

 <section class="container mt-5 texto-encima">
    <article class="row">
      <div class="col-12 col-md-6">

        <p class="mt-2 catalogParagraph text-white fw-bold fs-3">
          Prepara tu pulso y corazón, tus piernas y tu mente para llevarlas a donde se lo propongan.
        </p>
      </div>

    </article>
  </section>

  <section class="catalogTextSection ">
    <h2 class=" text-catalogo  fw-bold text-white"> Conoce nuestro catálogo</h2>
  </section>

<section class="catalogSectionColor">

  <section class="container">
    <div class="row">
      <div class=" catalogSection">
        <div class="card mt-5 me-5" style="width: 18rem;">
          <img height="175" src="https://i.pinimg.com/originals/8e/00/c6/8e00c6413cdf3ecdc44b088ad0a168cb.jpg"
            class="card-img-top" alt="BIcicleta-Giant">
          <img
            src="https://marketplacer.imgix.net/er/PrU8RoQEOoxslYbrLp8LU4tkQ.png?auto=format&fm=pjpg&fit=max&s=338573e2c4639bdcec36282a54e1410e"
            alt="BIcicleta-Giant">
          <div class="card-body ">
            <h5 class="card-title colorTextCards fw-bold">Giant TCR advanced SL talla S</h5>
          </div>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item colorTextCards ">Precio $12.100.000</li>
            <li class="list-group-item colorTextCards ">Fibra de Carbono</li>
          </ul>
          <div class="card-body ">
            <a href="#" class="btn btn-primary actionbuttons">Contactar al vendedor</a>
          </div>
        </div>
        <div class="card mt-5 me-5" style="width: 18rem;">
          <img height="175"
            src="https://marketplacer.imgix.net/G7/b0DrBXXzbM_NVa5BVJ_vGm66c.jpeg?auto=format&fm=pjpg&fit=max&w=1600&h=1136&s=0832acfa3464e4f897796f574c921376"
            class="card-img-top" alt="BIcicleta-Giant">
          <img
            src="https://marketplacer.imgix.net/Ia/_-tBYEznS0xIYMwUThP4850jo.png?auto=format&fm=pjpg&fit=max&s=56b20d1562527ceb86f31ce00d111fac"
            alt="LogoOrbea">
          <div class="card-body">
            <h5 class="card-title fw-bold colorTextCards">Giant TCR advanced SL talla S</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item colorTextCards">Precio $11.450.000</li>
            <li class="list-group-item colorTextCards">Fibra de Carbono</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary actionbuttons">Contactar al vendedor</a>
          </div>
        </div>
        <div class="card mt-5 me-5" style="width: 18rem;">
          <img height="175"
            src="https://marketplacer.imgix.net/gX/cGsGEIb51ffbWiSf5spZ_lVfE.jpeg?auto=format&fm=pjpg&fit=max&w=1280&h=958&s=531ec946613e6908503c098a0e35510e"
            class="card-img-top" alt="BIcicleta-Giant">
          <img
            src="https://marketplacer.imgix.net/03/J5YagcF733QhKYJK1llHJj84E.png?auto=format&fm=pjpg&fit=max&s=6206f5ff2410abc4633a0bf74511cfba"
            alt="BIcicleta-Giant">
          <div class="card-body">
            <h5 class="card-title fw-bold colorTextCards">Giant TCR advanced SL talla S</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item colorTextCards">Precio $9.350.000</li>
            <li class="list-group-item colorTextCards">Fibra de Carbono</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary actionbuttons">Contactar al vendedor</a>
          </div>
        </div>
        <div class="card mt-5 me-5" style="width: 18rem;">
          <img height="175"
            src="https://marketplacer.imgix.net/Sn/BGA7Z9GXUDpyhv1IYujDg7qWk.png?auto=format&fm=pjpg&fit=max&w=1000&h=598&s=f91029eb41b953183396bd7f549be97c"
            class="card-img-top" alt="BIcicleta-Giant">
          <img
            src="https://marketplacer.imgix.net/GZ/iE4arbLeKtNBzYqMBo8HQeQQ8.png?auto=format&fm=pjpg&fit=max&s=c34167302134ddf5dbdd84bf66af8f2f"
            alt="BIcicleta-Giant">
          <div class="card-body">
            <h5 class="card-title fw-bold colorTextCards">Giant TCR advanced SL talla S</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item colorTextCards">Precio $14.750.000</li>
            <li class="list-group-item colorTextCards">Fibra de Carbono</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary actionbuttons">Contactar al vendedor</a>
          </div>
        </div>
      </div>
    </div>



  </section>


  <section class="container mt-5">
    <div class="row">
      <div class=" catalogSection">
        <div class="card mt-5 me-5" style="width: 18rem;">
          <img height="175" src="https://i.pinimg.com/originals/8e/00/c6/8e00c6413cdf3ecdc44b088ad0a168cb.jpg"
            class="card-img-top" alt="BIcicleta-Giant">
          <img
            src="https://marketplacer.imgix.net/er/PrU8RoQEOoxslYbrLp8LU4tkQ.png?auto=format&fm=pjpg&fit=max&s=338573e2c4639bdcec36282a54e1410e"
            alt="BIcicleta-Giant">
          <div class="card-body ">
            <h5 class="card-title colorTextCards fw-bold">Giant TCR advanced SL talla S</h5>
          </div>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item colorTextCards ">Precio $12.100.000</li>
            <li class="list-group-item colorTextCards ">Fibra de Carbono</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary actionbuttons">Contactar al vendedor</a>
          </div>
        </div>
        <div class="card mt-5 me-5" style="width: 18rem;">
          <img height="175"
            src="https://marketplacer.imgix.net/G7/b0DrBXXzbM_NVa5BVJ_vGm66c.jpeg?auto=format&fm=pjpg&fit=max&w=1600&h=1136&s=0832acfa3464e4f897796f574c921376"
            class="card-img-top" alt="BIcicleta-Giant">
          <img
            src="https://marketplacer.imgix.net/Ia/_-tBYEznS0xIYMwUThP4850jo.png?auto=format&fm=pjpg&fit=max&s=56b20d1562527ceb86f31ce00d111fac"
            alt="LogoOrbea">
          <div class="card-body">
            <h5 class="card-title fw-bold colorTextCards">Giant TCR advanced SL talla S</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item colorTextCards">Precio $11.450.000</li>
            <li class="list-group-item colorTextCards">Fibra de Carbono</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary actionbuttons">Contactar al vendedor</a>
          </div>
        </div>
        <div class="card mt-5 me-5" style="width: 18rem;">
          <img height="175"
            src="https://marketplacer.imgix.net/gX/cGsGEIb51ffbWiSf5spZ_lVfE.jpeg?auto=format&fm=pjpg&fit=max&w=1280&h=958&s=531ec946613e6908503c098a0e35510e"
            class="card-img-top" alt="BIcicleta-Giant">
          <img
            src="https://marketplacer.imgix.net/03/J5YagcF733QhKYJK1llHJj84E.png?auto=format&fm=pjpg&fit=max&s=6206f5ff2410abc4633a0bf74511cfba"
            alt="BIcicleta-Giant">
          <div class="card-body">
            <h5 class="card-title fw-bold colorTextCards">Giant TCR advanced SL talla S</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item colorTextCards">Precio $9.350.000</li>
            <li class="list-group-item colorTextCards">Fibra de Carbono</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary actionbuttons">Contactar al vendedor</a>
          </div>
        </div>
        <div class="card mt-5 me-5" style="width: 18rem;">
          <img height="175"
            src="https://marketplacer.imgix.net/Sn/BGA7Z9GXUDpyhv1IYujDg7qWk.png?auto=format&fm=pjpg&fit=max&w=1000&h=598&s=f91029eb41b953183396bd7f549be97c"
            class="card-img-top" alt="BIcicleta-Giant">
          <img
            src="https://marketplacer.imgix.net/GZ/iE4arbLeKtNBzYqMBo8HQeQQ8.png?auto=format&fm=pjpg&fit=max&s=c34167302134ddf5dbdd84bf66af8f2f"
            alt="BIcicleta-Giant">
          <div class="card-body">
            <h5 class="card-title fw-bold colorTextCards">Giant TCR advanced SL talla S</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item colorTextCards">Precio $14.750.000</li>
            <li class="list-group-item colorTextCards">Fibra de Carbono</li>
          </ul>
          <div class="card-body">
            <a href="#" class="btn btn-primary actionbuttons">Contactar al vendedor</a>
          </div>
        </div>
      </div>
    </div>



  </section>





</section>


