<section class="section1">
  <h1 class="text-center enlacesFooter ">
      Bicicletas que se acomodan a tu estilo de vida
  </h1>
</section>


<section id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://i.ytimg.com/vi/VTz5FVLPihw/maxresdefault.jpg" alt="bicicleta de ruta 1"
              class="d-block w-100 carouselImages">
      </div>
      <div class="carousel-item">
          <img src="https://img1.wsimg.com/isteam/ip/86921a61-181e-41d8-a846-168f5047aa82/Imagen%20(1).jpg/:/rs=w:1200,h:1200"
              class="d-block w-100 carouselImages" alt="bicicleta de ruta modelo">
      </div>
      <div class="carousel-item">
          <img src="https://cdn.brujulabike.com/media/6027/conversions/lighter-1000.jpg"
              class="d-block w-100 carouselImages" alt="bicicleta de montaña">
      </div>
      <div class="carousel-item">
          <img src="https://media.revistagq.com/photos/60cb057054e0443ce59c7160/16:9/w_1280,c_limit/bicicleta-electrica-de-montana-rockrider-ebike-st-520-275-gris-amarillo%20(2).jpg"
              class="d-block w-100 carouselImages" alt="bicicleta eléctrica">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</section>
<section>
  <h2 class="mt-5 mb-1 text-center display-1 fw-bold colorTitles">
      Noticias de la semana
  </h2>
  <h2 class="mb-5 text-center display-6  colorTitles">
      Todo sobre el ciclismo
  </h2>
</section>

<main class="container">
  <div class="row">
      <article class="col-12 col-md-6 col-lg-4">
          <h2 class="colorTitles my-4 fs-4">
              Accesorios imprescindibles para aficionados al ciclismo
          </h2>
          <p class="paragraphSpace">Cuando eres un ciclista de ruta, cada pieza en tu kit tendrá la única misión
              de darte más velocidad.
              Una caramañola, casco o zapatilla no tendrá otra labor que la de restarte gramos, navegar las
              corrientes y ayudarte a alcanzar un kilometraje ganador en tiempo récord. Esta disciplina tiene fama
              de excluyente por lo especializados que pueden llegar a ser sus accesorios y componentes, pero a la
              hora de la verdad lo que importa es sacarle el mayor provecho a tus pedales, sin importar la
              inversión.

              Así que para hacerte la tarea de escoger tus próximos accesorios tan fácil como es posible, reunimos
              nuestras recomendaciones de lo primero que deberías considerar, sin un orden en particular. Así
              tendrás más tiempo para salir a montar y estrenar tus juguetes nuevos.</p>
          <img class="image-hover"
              src="https://ttbiketriatlon.com/wp-content/uploads/2020/06/10-accesorios-imprescindibles-para-bicicletas-de-triatl%C3%B3n-1.jpg"
              alt="accesorios bicicleta">
      </article>
      <article class="col-12 col-md-6 col-lg-4">
          <h2 class="colorTitles my-4 fs-4">
              ¿Quién será el sucesor de Egan? Los favoritos del Giro de Italia 2022
          </h2>
          <p class="paragraphSpace">El ecuatoriano Richard Carapaz, el portugués Joao Almeida y los colombianos
              Iván Ramiro Sosa y Miguel
              Ángel López partirán como favoritos al trofeo "Senza Fine" que recibirá el ganador de la 105 edición
              del Giro de Italia que se pone en marcha este viernes en Budapest y termina el 29 de mayo en
              Verona.!

              Será una carrera marcada por la ausencia de grandes favoritos, en especial la de Egan Bernal, el
              campeón defensor. Por eso, la gran duda que asalta este año a los amantes del ciclismo es quién será
              el sucesor del colombiano y vestirá, una vez disputadas las 21 etapas del recorrido, la Maglia Rosa.
          </p>
          <img class="image-hover"
              src="https://www.futbolred.com/files/article_main/uploads/2021/05/31/60b55b4f02d2e.jpeg"
              alt="Egan Bernal en Giro de Italia">
      </article>
      <article class="col-12 col-md-6 col-lg-4">
          <h2 class="colorTitles my-4 fs-4">
              Los beneficios de montar en bicicleta
          </h2>
          <p class="paragraphSpace">Montar en bicicleta tiene muchos beneficios para la salud, tanto para el
              cuerpo como para la mente.
              Además, la bicicleta (estática normalmente) es una de las primeras actividades recomendadas para
              mejorar la irrigación sanguínea y recuperar la atrofia muscular tras una lesión, sobre todo del tren
              inferior. Teniendo presente esto, podemos decir que montar en bici de forma regular nunca será
              perjudicial para tu salud solo beneficioso. Sin embargo, para disfrutar de los beneficios de este
              deporte hay que ser constante y pedalear un mínimo de 30 minutos, 2 veces por semana y con una
              intensidad que supere tu umbral aeróbico..</p>
          <img class="image-hover"
              src="https://www.sabervivirtv.com/medio/2022/02/15/8-beneficios-para-tu-salud-de-ir-en-bicicleta_fa937faf_1280x720.jpg"
              alt="Bicicletas en el bosque">
      </article>


  </div>
</main>

